:root {
    --light-bg: whitesmoke;
    --dark-bg: black;
    --light-text: black;
    --dark-text: white;


    --palette1: white;
    --palette2: black;
    --palette3: linear-gradient(to left, black, transparent, black), url(./images/shooting-tyre-dTXLB2pxR9w-unsplash.jpg);
    --palette4: url(images/shooting-tyre-dTXLB2pxR9w-unsplash.jpg);
    --palette5: linear-gradient(to left, black, transparent, black), url(./images/fabe-collage-xR8Xj3Pq__M-unsplash.jpg);
    --palette6: url(images/fabe-collage-xR8Xj3Pq__M-unsplash.jpg);
    --palette7: rgba(0, 0, 0, 0.8);
    --palette8: rgba(255, 255, 255, 0.5);
    --palette9: linear-gradient(to bottom, #444, #222, #222);
    --palette10: linear-gradient(to bottom, white, #dbdbdd, #dbdbdd);
}

@font-face{
    font-family: DmSans;
    src: url('./fonts/DMSans-Regular.ttf');
}






/* header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 100%!important;
    position: relative;
    font-family: calibri;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25%;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 10;
    /* background-color: black; */
    background-color: var(--bg-color);
    color: var(--text-color);
}

.hamburger-menu{
    display: none;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: var(--sometexts);
    font-size: 1.3rem;
    position: relative;
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--sometexts);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}
.activa{
    text-transform: uppercase;
    font-weight: bold;
}
.activa:hover::after{
    transform: scaleX(0)!important;
}
.logo img {
    max-height: 50px;
    width: auto;
}


/* hero */
.hero{
    height: 400px;
    max-height: 400px;
    width: 100%;
    background: url(./images/sunder-muthukumaran-K8ZtyTUCuPI-unsplash.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.hero h1{
    text-align: center;
    color: white;
    font-family: dmsans;
    font-size: 40px;
}




/* footer */
footer{
    width: 100%;
    height: 70%;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    /* padding-top: 5rem; */
    padding: 120px;
}
.footer-columns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-columns span{
    font-weight: bold;
    font-family: dmsans;
    margin-bottom: 1.5rem;
}
.footer-columns a{
    color: var(--text-color);
    text-decoration-line: none;
    margin-bottom: 0.6rem;
}
.col1{
    width: 50%;
}
.col1 p{
    /* border: 1px solid blueviolet; */
    padding-right: 30%;
    padding-left: 10px;
    margin-bottom: 1.5rem;
}
.col1 img{
    height: 60px;
}
.col1 svg{
    margin-left: 15px;
    height: 20px;
    width: 20px;
}
.col2{
    width: 25%;
}
.active{
    text-decoration-line: underline!important;
}
.col3{
    width: 25%;
}


.strip{
    text-align: center;
}